@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --red: #D90000;
  --lightbg: #F2F2F2;
  --yellow: #ffb30f;

}

body {
  overflow-x: hidden;
  font-family: "Jost";
  font-weight : 450;
  background-color: var(--lightbg);
}

.button{
  transition-duration: 200ms;
}

.button:hover{
  transform: translateY(-5px);
  filter: brightness(85%);
}

a{
  text-decoration: none;
  background-color: inherit;
}

.body{
  padding: 7vw 10vw;
}

.leaflet-container{
  height: 100%;
  filter: saturate(1) saturate(1.2);
}

.body > p{
  font-family: "Jost", sans-serif;
  text-align: justify;
  font-size: 1em;
  font-weight : 450;
}

.body > h1, h2, h3{
  font-family: "Jost", sans-serif;
  font-weight : 450;
  text-align: justify;
  margin-bottom: 0.25lh;
}

.body > h1:not(:nth-of-type(1)){
  margin-top: 1lh;
}

.body > button{
  margin-top: 30px;
  letter-spacing: normal;
  font-weight: 600;
  font-size: 0.75em;
}

p{
  font-weight: 350;
}

@media (min-width: 768px) {
  body {
    font-size: 12pt;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 14pt;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 14pt;
  }
}