.hero {

    padding: 0px 5vw;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 130vh;
    padding-bottom: 250px;
}

.herobg{ 

    margin-left: -5vw;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: inherit;
    background-image: url("../../assets/landingBG3.jpg");
    background-size: cover;

}

a {
    color: inherit;
    background-color: inherit;
}

.homeLeft {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: light;
    display: flex;
    flex-direction: column;
}

.homeLeft > h1 {
    color: white;
    font-size: 5rem;
    letter-spacing: 10px;
    text-wrap: wrap;
    /* text-shadow: 0px 0px 5px rgb(0, 0, 0) */
}

.homeLeft > h3 {

    margin-top: 0px;
    padding-top: 0px;
    font-family: "Koulen";
    font-weight: 400;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    text-wrap: wrap;
}

.homeLeft>p {
    font-family: "Jost";
    font-size: 1rem;
    width: 550px;
    text-shadow: 2px 0px 5px rgb(0, 0, 0);
    text-wrap: wrap;
}

.homeRight {
    display: flex;
    justify-content: center;
}


.submissionCall {

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 500px;
    height: 300px;

    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 30px;
    padding: 20px;

    transition-duration: 200ms;
}


.submissionCall:hover {
    scale: 1.05;
}

.submissionCall>p {
    font-size: 1rem;
}

.submissionCall>div {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.homeButtonCont {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.homeButton {
    width: fit-content;
    font-family: "Jost";
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 23px;
    border-radius: 100px;
    border: 0px solid;
    font-size: 0.8rem;

    cursor: pointer;
}


.homeButtonCont>.homeButton:nth-of-type(1) {
    background-color: var(--red);
    color: white;
}

.homeButtonCont>.homeButton:nth-of-type(2) {
    background-color: var(--yellow);
    color: black;
}

.homeButtonCont>a:nth-of-type(1)>.homeButton {
    background-color: var(--red);
    color: white;
}

.homeButtonCont>a:nth-of-type(2)>.homeButton {
    background-color: var(--yellow);
    color: black;
}

@media screen and (max-width : 1200px) {
    .hero {   
        justify-content: center;
        padding-bottom: 200px;
    }

    .homeLeft {
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center;
    }

    .submissionCall {
        align-items: center;
    }
}

@media screen and (max-width: 620px) {
    
    .homeLeft>p{
        width: 80vw;
    }
    .homeLeft > h1{
        font-size: 4.5rem;
    }

    .submissionCall{
        margin-top: -50px;
    }

    .submissionCall>p{
        font-size: 1rem;
    }

}






/*two*/
.homeInterestAreas {
    background-color: var(--lightbg);
    margin-top: -150px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeInterestAreas> h1, h3 {
    font-family: "jost";
}

.homeInterestAreas > h1 {
    font-weight: 550;
    font-size: 2.5rem;
    margin-top: -10px;
}

.homeInterestAreas>h3 {
    font-weight: 400;
    font-size: 1.5rem;
}

.homeInterestAreaCont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;

    margin-top: 50px;
}

.homeInterestArea {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    font-family: "jost";

    width: 300px;
}

.homeInterestArea>img {
    width: 120px;
}

.homeInterestArea > h3 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

.homeInterestArea > p {
    font-size: 1rem;
    margin-top: 10px;
}









/*three*/


.posterimg{
    position: absolute;
    margin-left: -200px;
    margin-top: -250px;
    z-index: -1;

    object-fit: cover;

    width: 150%;
    height: 100%;

}

.homePoster {
    /* background-image: url("../../assets/landingBG1.jpg"); */
    background-color: red;
    background-size: cover;
    background-position: center;
    height: 80vh;

    clip-path: polygon(100% 0, 100% 60%, 0 100%, 0 0);

    color: white;
    display: flex;

    padding: 50px 100px;
    padding-top: 150px;
    font-size: 35pt;
    font-family: 'jost';
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.homePoster > blockquote{
    font-size: 2.5rem;
}

.homePoster > blockquote > span{
    font-size: 1.5rem;
}




/*four*/

.homeVideos {
    /* height: 200vh; */
    background-color: var(--lightbg);
    margin-top: -250px;
    padding-top: 250px;
}

.homeVideoSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 100px;
}

.homeVideoSectionText {
    flex-grow: 1;
    width: 30%;

    font-family: "Jost";
    text-align: justify;

    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: center;
}


.homeVideoSectionText:nth-of-type(1) {
    margin-left: 50px
}

.homeVideoSectionText:nth-of-type(2) {
    margin-right: 50px
}

.homeVideoSectionText>h3 {
    font-size: 2rem;
    font-weight: 500;
}

.homeVideoSectionText>p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.homeVideoSectionText>button {
    color: white;
}

.red {
    background-color: var(--red);
}

.yellow {
    background-color: var(--yellow);
}

.homeVideoSectionVideo {
    flex-grow: 1;
    /* width: 50%; */
    align-self: flex-end;
    height: 400px;
    background-color: rgb(133, 133, 133);
}

.homeVideoSection>* {
    width: 50%;
    height: 400px;
}

.homeTeam {
    background-color: var(--lightbg);
    /* background-color: rgb(255, 0, 43); */

    padding: 100px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    
}

.homeTeam > div > h1, h6{
    font-family: 'Jost';
    text-align: center;
}

.homeTeamCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px 100px;
}

.homeTeamMember {
    height: 400px;
    width: 250px;
    background-color: rgb(233, 233, 233);

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 0px 10px 5px rgba(174, 0, 255, 0.2);
    transition-duration: 200ms;
    cursor: pointer;
}

.homeTeamMember:hover {
    transform: translateY(-10px);
    /* filter: brightness(90%); */
    box-shadow: 0px 0px 10px 8px rgba(174, 0, 255, 0.25);

}

.homeTeamMember>img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: top;
}

.homeTeamMember>h3 {
    margin-top: 10px;
    text-align: center;
}

@media (max-width: 1280px) {

    .homeVideoSection {
        width: 100%;
        display: flex;
        /* flex-direction: column-reverse; */
        margin-top: 100px;
    }

    .homeInterestAreas{
        padding-top: 125px;
        padding-bottom: 100px;
    }

    .homePoster{
        height: 50vh;
    }

    .homeVideos{
        margin-top: -300px;
    }

    .homeLeft {
        width: 100%;
        padding: 0px 5vw;
        padding-top: 150px;

        justify-content: center;
        align-items: center;
    }

    .homeLeft>p {
        text-align: center;
    }

    .homeRight {
        width: 100%;
        padding: 0px 5vw;
        padding-top: 150px;
    }

    .submissionCall {
        align-items: center;
    }

    .submissionCall>p {
        text-align: center;
    }

    .homeVideoSection:nth-of-type(1) {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 100px;
        gap: 0px;
    }

    .homeVideoSection:nth-of-type(2) {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        gap: 0px;
    }

    .homeVideoSectionVideo {
        width: calc(100% - 15vh);
        margin: auto;
    }

    .homeVideoSectionText:nth-of-type(n) {
        width: calc(100% - 15vh);
        margin: 0px;
        margin: auto;
        text-align: justify;
    }
}

@media (max-width: 768px) {
    .homeVideoSection {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 0px;
    }

    .homeVideoSectionVideo {
        width: calc(100% - 5vh);
        height: 300px;
        margin: auto;
    }

    .homeVideoSectionText:nth-of-type(n) {
        width: calc(100% - 5vh);
        margin: 0px;
        margin: auto;
        text-align: justify;
    }
}