.project{

    background-color: rgb(112, 73, 255);

    transform: skewY(-2deg);
    
    color: white;
    padding: 60px 50px;
    margin-bottom: 50px;
    
}

.project > *{
    transform: skewY(2deg);
}