.row > .col{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.col > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

input{

    font-family: "Jost", sans-serif;
    font-weight : 450;

    height: 40px;
    background-color: lightgray;
    border: 0px solid;
    border-radius: 8px;
    padding: 10px;
    font-size: 0.75em;
    
}

textarea{
    
    font-family: "Jost", sans-serif;
    font-weight : 450;
    font-size: 0.75em;

    background-color: lightgray;
    border: 0px solid;
    border-radius: 8px;
    padding: 10px;

}

@media (max-width: 1080px){
    .row > .col{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .contact{
        display: flex;
        flex-direction: column-reverse;
    }

    .contactmap{
        height: 300px;
    }
}