.aboutButton{
    background: rgb(5,255,0);
    background: linear-gradient(20deg, rgba(5,255,0,1) 0%, rgba(250,255,0,1) 100%);
}

.contactButton{
    padding: 10px 40px;
    color: white;
    
    background: rgb(0,178,255);
    background: linear-gradient(30deg, rgba(0,178,255,1) 20%, rgb(0, 92, 153) 100%);
}

.body > div.matrix{
    width: 100%;
}

.matrix > .row{
    width: 100%;
    display: flex;
    gap: 100px;
}