.ourNavbar {
    background-color: var(--lightbg);
    /* background-color: transparent; */
    width: 100%;
    height: 60px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);

    transition-duration: 500ms;
    transition-property: height;
}



.logo {
    width: 25%;
    display: flex;
    flex-grow: 1;
    font-family: "Koulen", sans-serif;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    font-size: 1.3em;

    padding-left: 50px;
}

.logo > img{
    height: 120%;
    mix-blend-mode: darken;
}

.ourNavMenu{
    background-color: var(--red);
    /* background-color: transparent; */
    margin-left: auto;
    width: 78%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 50px;

    clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.ourNavMenuItem {
    color: white;
    font-family: "Koulen", sans-serif;
    text-transform: uppercase;
    font-size: 1.15em;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    flex-grow: 1;
    cursor: pointer;

    transition-duration: 200ms;
}

.ourNavMenuItem:hover {
    background-color: var(--yellow);
}

.ourNavMenu:hover>.ourNavMenuItem:not(:hover) {
    opacity: 50%;
}

a {
    text-decoration: none;
}

.hamburgerCont{
    display: none;
}

.mobileMenu{
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: var(--lightbg);

    height: 100svh;
    width: 100%;

}

.mobileMenuTopBar{
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mobileMenuMenu{
    height: calc(100% - 60px);
    background-color: var(--red);

    display: flex;
    flex-direction: column;
}

.mobileMenuMenu > .ourNavMenuItem{
    height: 50px;
}

@media (max-width: 968px) {
    .ourNavMenu{
        display: none;
    }
    .logo{
        padding-left: 10px;
    }
    .hamburgerCont{
        display: block;
        background-color: var(--red);
        color: white;
        padding: 0 50px;
        padding-left: 100px;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .material-symbols-outlined{
        font-size: 35px;
        cursor: pointer;
    }
}